@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap');

*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html
{
  scroll-behavior: smooth;
}
body
{
  
}
header
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  z-index: 1000;
  transition: 0.6s;
}
header.sticky
{
  padding: 5px 100px;
  background: #fff;
  border-bottom: 1px solid (0,0,0,.1);
}
header .logo
{
  position: relative;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  transition: 0.6s;
}
header ul
{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
header ul li
{
  position: relative;
  list-style: none;
}
header ul li a
{
  position: relative;
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
  font-weight: 300;
  transition: 0.6s;
}
header.sticky .logo,
header.sticky ul li a
{
  color: #000;
}
.banner
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(Bilder/free.jpg); /*background img:  */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerCours
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(Bilder/dschungel.jpg); /*background img:  */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bannerForum
{
  position: relative;
  width: 100%;
  min-height: 100vh;
  background: url(Bilder/lava.jpg); /*background img:  */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: bottom;
}
.banner h2
{
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.banner h2 span
{
  color: #4978ff;
}
.bannerForum h2
{
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.bannerForum h2 span
{
  color: #4978ff;
}
.bannerCours h2
{
  color: #fff;
  font-size: 90px;
  text-transform: uppercase;
  text-align: center;
  line-height: 1em;
}
.bannerCours h2 span
{
  color: green;
}
.sec
{
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.sec .content
{
  position: relative;
  text-align: center;
  width: 100%;
  background: #2E64FE;
}
.mxw800p
{
}
h3
{
  font-size: 60px;
  font-weight: 200;
  margin-bottom: 10px;
}
.sec .content p
{
  position: relative;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
.btn
{
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #fff;
}

/* Cards */
.courses
{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2E64FE;
  width: 100%;
  height: auto;
  transition: 0.5s ease-in-out;
}
.container
{
  position: relative;
  width: 1100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 30px;
}
@media all and (min-width: 30em) {
.container {
    flex-direction: row;
  }
}
.container .card
{
  position: relative;
  max-width: 300px;
  height: 280px;
  background: #fff;
  margin: 30px 10px;
  padding: 20px 15px;
  box-shadow: 0 5px 202px rgba(0,0,0,0.5);
  transition: 0.3s ease-in-out;
}
.container .card:hover
{
  height: 550px;
}
.container .card .imgBx
{
  position: relative;
  width: 260px;
  height: 260px;
  top: -60px;
  left: 20px;
  z-index: 1;
  box-shadow: 0 5px 20px rgba(0,0,0,0.2);
}
.container .card .imgBx img
{
  max-width: 100%;
  border-radius: 4px;
}
.container .card .contentCard
{
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  color: #111;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease-in-out;
}
.container .card:hover .contentCard
{
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}

/* responsive */
.toggle
{
  display: none;
}
@media (max-width: 992px)
{
  .toggle
  {
    display: block;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
  }
  .toggle:before
  {
    content: '';
    position: absolute;
    top: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    box-shadow: 0 10px 0 #000;
    transition: 0.5s;
  }
  .toggle:after
  {
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #000;
    z-index: 1;
    transition: 0.5s;
  }
  header,
  header.sticky
  {
    padding: 5px 50px;
    background: #fff;
  }
  header ul
  {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100%;
    height: 100vh;
    text-align: center;
    overflow: auto;
    background: #fff;
    visibility: hidden;
    opacity: 0;
  }
  header.active ul
  {
    visibility: visible;
    opacity: 1;
    display: block;
    padding-top: 20px;
  }
  header.active ul li a
  {
    display: inline-block;
    margin: 10px 0;
    font-size: 20px;
  }
  header .logo,
  header ul li a
  {
    color: #000;
  }
}

strong
{
  color: #64FE2E;
}


.about
{
  background: #1C1C1C;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: baseline;
}

section.imgOne
{
  background: url(Bilder/stock2.png);
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

section.imgTwo
{
  background: url(Bilder/lavatree.jpg);
  height: 400px;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}

/* Clouds */
.bannerForum .clouds
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bannerForum .clouds img
{
  position: absolute;
  bottom: 0;
  max-width: 100%;
  animation: animate calc(8s * var(--i)) linear infinite;
}
@keyframes animate
{
    0%
    {
      transform: translateX(-100%);
    }
    100%
    {
      transform: translateX(100%);
    }
}

.poste
{
  height: 200px;
  position: relative;
  text-align: center;
  padding: 40px;
}

.btnPoste
{
  display: inline-block;
  padding: 10px 30px;
  background: #000;
  text-decoration: none;
  color: #fff;
  left: 50%;
}


/*poste script*/
.cardPost {
  color: black;
  margin: 0.5rem;
  background: white;
  box-shadow: 2px 4px 25px rgba(0, 0, 0, .1);
  border-radius: 4px;
  overflow: hidden;
  transition: all .2s linear;
  padding-left: 1%;
  padding-right: 1%;
}

.cardPost:hover {
  box-shadow: 2px 8px 45px rgba(0, 0, 0, .15);
  transform: translate3D(0, -2px, 0);
}

@media screen and (min-width: 600px) {
  .cardPost {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .cardPost {
    flex: 1 1 calc(33% - 2rem);
  }
}

.headPost
{
  text-align: center;
  padding: 1.5rem 2.5rem;
  margin: 0 0 2rem 0;
  font-size: 1.5rem;
  color: black;
  border-bottom-style: dotted;
}

#root {
  max-width: 1200px;
  margin: 50px auto;
}

.containerPost {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column-reverse;
  color: #666;
}

.answer
{
  width: 100%;
  height: auto;
  background-color: #F2F2F2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border-top-style: solid;
  border-width: 5px;
  border-radius: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 20px;
}

.answerText
{
  font-size: 15px;
  color: black;
}

/*Cards */
.containerCourses{
  position: relative;
  margin: 50px;
}
.containerCourses .cardCourses{
  position: relative;
  width: 320px;
  height: 450px;
  background: #232323;
  border-radius: 20px;
  overflow: hidden;
}
.containerCourses .cardCourses:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #A901DB;
  clip-path: circle(150px at 80% 20%);
  transition: 0.5s ease-in-out;
}
.containerCourses .cardCourses:hover:before{
  clip-path: circle(300px at 80% -20%);
}
.containerCourses .cardCourses:after{
  content: 'Learn';
  position: absolute;
  top: 30%;
  left: -20%;
  font-size: 12em;
  font-weight: 800;
  font-style: italic;
  color: rgba(255,255,255,0.04);
}

.containerCourses .cardCourses .imgBx{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10000;
  width: 100%;
  height: 220px;
  transition: 0.5s;
}
.containerCourses .cardCourses:hover .imgBx{
  top: 0%;
  transform: translateY(0%);
}
.containerCourses .cardCourses .imgBx img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) rotate(-25deg);
  width: 270px;
}
.containerCourses .cardCourses .contentBx{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.containerCourses .cardCourses:hover .contentBx{
  height: 210px;
}
.containerCourses .cardCourses .contentBx h2{
  position: relative;
  font-weight: 600;
  letter-spacing: 1px;
  color: #fff;
}
.containerCourses .cardCourses .contentBx .size,
.containerCourses .cardCourses .contentBx .color{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 20px;
  transition: 0.5s;
  opacity: 0;
  visibility: hidden;
}
.containerCourses .cardCourses:hover .contentBx .size{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}
.containerCourses .cardCourses:hover .contentBx .color{
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}
.containerCourses .cardCourses .contentBx .size h3,
.containerCourses .cardCourses .contentBx .color h3{
  color: #fff;
  font-weight: 300;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-right: 10px;
}
.containerCourses .cardCourses .contentBx .size span{
  width: 26px;
  height: 26px;
  text-align: center;
  line-height: 26px;
  font-size: 14px;
  display: inline-block;
  color: #111;
  background: #fff;
  margin: 0 5px;
  transition: 0.5s;
  color: #111;
  border-radius: 4px;
  cursor: pointer;
}
.containerCourses .cardCourses .contentBx .size span:hover{
  background: #9bdc28;
}
.containerCourses .cardCourses .contentBx .color span{
  width: 20px;
  height: 20px;
  background: #ff0;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.containerCourses .cardCourses .contentBx a
{
  display: inline-block;
  padding: 10px 20px;
  background: #fff;
  border-radius: 4px;
  margin-top: 10px;
  text-decoration: none;
  font-weight: 600;
  color: #111;
  opacity: 0;
  transform: translateY(50px);
  transition: 0.5s;
}
.containerCourses .cardCourses:hover .contentBx a
{
  opacity: 1;
  transform: translateY(0px);
  transition-delay: 0.75s;
}

/*Post Form*/
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #FE2EF7;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #A901DB;
}
